* {
    /* background-color: #324864; */
    background-color: #D1D1D1;
    font-family: lato, Helvetica, Arial, sans-serif;;
}
a {
    text-decoration: none;
}
a:link, a:visited, a:active {
    color: grey;
}
a:hover {
    color: hotpink;
}
.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100vh;
    margin-top: 0;
}
.left-container {
    flex-basis: 50vw;
}
nav, .left-content {
    padding-left: 5vw;
}
nav {
    display: flex;
    gap: 5%;
    padding-top: 1vh;
}
.left-content {
    padding-top: 2vh;
}
.right-container {
    position: sticky;
    top: 0;
    align-self: flex-start; /* Necessary for sticky to work with display: flex */
    margin-top: -10vh; /* Prevents right-descriptors from "jumping" when scrolled */
    flex-basis: 40vw;
    padding-right: 5vw;
}
.job-title, .me, .description {
    text-align: right;
}
.job-title {
    font-size: 1.2em;
    font-weight:normal;
}
.socials {
    position: fixed;
    bottom:0;
    right: 0;
    margin-bottom: 5vh;
    padding-right: 5.5vw;
}
/* CV styling */
.cv-section {
    font-weight:normal;
    text-decoration: underline;
}
.location {
    font-weight:normal;
    font-style: italic;
}
.cv-title {
    margin-bottom: 0;
}
.date-range{
    margin-top: 0;
}
.job-description {
    padding-left: 2vw;
}

/* Subpage styling */
.subpage-content {
    display: flex;
}
.subpage-content.about, .subpage-content.contact {
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.subpage-content.projects {
    justify-content: space-around;
    margin-top: 5vh;
}
.inprogress-projects, .completed-projects {
    flex-basis: 30vw;
}
.project-title {
    text-align: center;
}
a:link.project-link, a:visited.project-link,
a:active.project-link {
    color: black;
}
a:hover.project-link {
    text-decoration: underline;
}
.subpage-content.contact {
    gap: 2vw;
}