* {
    background-color: #324864;
    font-family: "Neue Montreal", Helvetica, Arial, sans-serif;
}
nav {
    display: flex;
    padding: 0px 10px 0px 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    /* position: sticky;
    top: 0;
    align-self: flex-start; */
}
a {
    text-decoration: none;
}
a:link, a:visited, a:active {
    color: grey;
}
a:hover {
    color: hotpink;
}
.left-nav {
    display: flex;
    padding-top: 1%;
    gap: 5%;
}
.right-nav {
    /* flex-basis: 555px; */
    flex-basis: 50%;

}
.job-title, .me, .description {
    text-align: right;
}
.job-title {
    font-size: 1.2em;
}
.content {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.left-scroll {
    width: 50%;
    /* margin-top: -7%; */
}
.right-fixed {
    /* flex-basis: 555px; */
    flex-basis: 50%;
    position: sticky;
    top: 0;
    padding-top: 50px;
    align-self: flex-start; /* Necessary for sticky to work with display: flex */
}